
hello_world/.env
hello_world/package-lock.json
py_model/raw_eeg_data.json
py_model/__pycache__/app.cpython-310.pyc
py_model/__pycache__/common.cpython-310.pyc
py_model/__pycache__/gui.cpython-310.pyc
py_model/imaging/first_plot.png
py_model/1_raw_eeg_data.json
py_model/2_raw_eeg_data.json
py_model/hyperband/eeg_lstm_tuning/trial_0000/checkpoint.data-00000-of-00001
hyperband
*.png
raw_eeg_data.json
py_model/cleaned_normalized_eeg_data.json
*.json
node_modules
mc_server/cache/
mc_server/config/
mc_server/libraries/
mc_server/logs/
mc_server/plugins/
mc_server/versions/
mc_server/world
mc_server/world_nether
mc_server/world_the_end
mc_server/.console_history
mc_server/banned-ips.json
mc_server/bukkit.yml
mc_server/commands.yml
mc_server/help.yml
mc_server/permissions.yml
mc_server/server.properties
mc_server/spigot.yml
py_model/results/log_subject1.txt
py_model/results/sub_result.txt
py_model/results/
py_model/encoder.joblib
py_model/lstm_model_best.keras
py_model/scaler.joblib
py_model/lstm_model_best.keras
*.joblib
*.joblib
